*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* start section 2 */
.section2{
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.sec2-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.sec2-icone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec2-icone div p{
    text-align: center;
    width: 250px;
}

.sec2-icone div{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sec2-icone div i{
    background-color: rgb(194, 145, 219);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-radius: 70%;
}

.sec2-icone div h3 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end section 2 */



/* start section 3 */
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}
.sec3-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec3-top p{
    width: 40vw;
    text-align: center;
}

.sec3-bottom{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50vw;
}
.sec3-left,.sec3-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3-text-left , .sec3-text-right{
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sec3-text-left a, .sec3-text-right a{
    text-decoration: none;
    color: rgb(142, 141, 141);
    font-size: 0.8em;
    font-weight: 600;
}

.sec3-image-left img , .sec3-image-right img{
    width: 400px;
}

/* end section 3 */


/* start section 4 */
.section4{
    background-color: rgb(123, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}
.sec4-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    color: white;
}

.sec4-poursentage {
   display: flex;
  text-align: center;
   align-items: center;
   gap: 40px;
   color: white;
}

.sec4-poursentage div h1{
    color: white;
    font-size: 3em;

    
}

.sec4-poursentage div p{
    font-size: 1em;

}
.sec4-link a{
    color: white;
    text-decoration: none;
}
/* end section 4 */